data/kolmogorov/*
data/channel_flow/*
data/ks_equation/*
kolmogorov_flow/trained_models/*
kolmogorov_flow/trained_models_esn/*
ks_equation/trained_models/*
__pycache__/
runs/*
!runs/kolmogorov/train_fno.py
notebooks/*
src/kolmogorov_flow/
src/ks_equation_prov
